.section-tasks {
    padding: 80px 0 40px;
    border-bottom: 1px solid #e1e1e1;


    @media (max-width: 1199px){
        padding: 50px 0 20px;
    }
    
    @media (max-width: 899px){
        padding-bottom: 6px;
    }
    @media (max-width: 599px){
        padding: 40px 0;
        
    }
}

.section-tasks__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 115px 0 100px;

    @media (max-width: 1199px){
        
        padding-left: 75px;
        padding-right: 0;
       justify-content: center;
        
    }
    
    @media (max-width: 899px){
        padding-left: 0;
        align-items: flex-start;
        flex-direction: row-reverse;
        column-gap: 30px;
        
    }
    @media (max-width: 599px){
        flex-direction: column-reverse;
        align-items: center;
    }
}
.section-tasks__content {
    width: 530px;
    
    @media (max-width: 1199px){
        padding-bottom: 10px;
    }
    @media (max-width: 899px){
        padding-bottom: 0px;
        padding-top: 7px;
        width: 270px;
    }
    @media (max-width: 599px){
        text-align: center;
        padding-top: 0;
        width: 100%;
    }
}
.section-tasks__header {
    margin-bottom: 30px;

    @media (max-width: 1199px){
        margin-bottom: 20px;
    }

}
.section-tasks__title {
    margin-bottom: 30px;

    @media (max-width: 1199px){
        margin-bottom: 20px;
    }

    @media (max-width: 599px){
        margin-bottom: 10px;
    }
}



.section-tasks__text {
    width: 400px;
    color: $paragraphText;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.14; /* 214.286% */
    p:not(:last-child){
        margin-bottom: 15px;
    }
    
    @media (max-width: 1199px){
        width: 420px;
    }
    
    @media (max-width: 899px){
        width: 100%;
        line-height: 1.71;
    }
}

.section-tasks__img{
    
    @media (max-width: 1199px) {
        width: 265px;
        flex-shrink: 0;
    }
    @media (max-width: 899px) {
        width: 270px;
        
    }
    
    @media (max-width: 599px){
        margin-bottom: 8px;
    }
    
}
