.button {
    display: inline-block;

    padding: 21px 39px 22px;
    background-color: #00c470;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 14px;
    transition: all .3s;
    color: #fff;
    
    &:hover{
        background-color: #039a58;
    }
    &:active{
        background-color: #01864c;
    }
}