.button-solid{
    padding: 22px 40px;
    background-color: #fff;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 14px;
    transition: all .3s;
    color: #000;
   
    &:hover{
        background-color: #323232;
        color: #fff;
    }
    &:active{
        background-color: rgb(27, 27, 27)
    }

}