.search {
    position: relative;
    margin-left: auto;
}
.search__input {
    
    width: 0px;
    height: 60px;

    border: none;
    border-radius: 30px;
    font-size: 16px;
    line-height: 60px;
    color: #000;
    font-weight: 500;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    transition: width .3s, padding .3s;
    background-color: #fff;
    &::placeholder{
        color: rgba(46, 46, 46, 0.6);
    }


}
.search__button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    cursor:  pointer;
    transition: background-color .3s;

    &:hover{
        background-color: #00C470;

        .search__button-icon{
            stroke: #fff;
        }
    }
}

.search__button-icon{
    stroke: #000;
    transition: stroke .3s;

}

.search.search--visible{
    .search__input{
        width: 340px;
        padding-left: 30px;
        padding-right: 70px;

        @media (max-width: 599px) {
            width: 220px;
            padding-left: 20px;
            font-size: 14px;
        }
    }

    .search__button{
        background-color: #00C470;

        &:hover{
            background-color: #15d784;
        }

        .search__button-icon{
            stroke: #fff;
        }
    }

   
}