html{
    scroll-behavior: smooth;
}



body{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    color: $mainText;
}


.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}
